<!DOCTYPE html>
<html class='no-js' lang='en'>

<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>管理员面板 - 北航附中选修课报名系统</title>
  <link href="/css/application-a07755f5.css" rel="stylesheet" type="text/css" />
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/iconfont.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/ui.jqgrid.css">
  <link rel="stylesheet" href="/css/jquery-ui-1.8.16.custom.css">
</head>

<body class='main page'>
  <!-- Navbar -->
  <% include include/header.ejs %>

  <div id='wrapper'>
    <% include include/sidebar.ejs %>

    <!-- Tools -->
    <section id='tools'>
      <ul class='breadcrumb' id='breadcrumb'>
        <li class='active'>
          课程清单
        </li>
        <li>
          <a href="/admin/course/import">导入课程</a>
        </li>
        <li>
          <a href="/admin/course/add">新增课程</a>
        </li>
      </ul>
    </section>
    <!-- Content -->
    <div id='content'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          全部课程
        </div>
        <div class='panel-body'>
          <div class="row searchbox">
            <div class="col-lg-4"><input type="text" class="form-control" name="keywordtxt" id="keywordtxt" placeholder="快捷查询"
                autofocus>
            </div>
            <input type="button" value="删除" id="delbtn" class="btn btn-danger" />
          </div>
          <table id="list"></table>
          <div id="listnav"></div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/grid.locale-cn.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/jquery.jqGrid.src.js"></script>
  <script type="text/javascript">
    var lastsel3
    //初始化表格
    $("#list").jqGrid({
      //使用的数据是本地数据，实际上也是Ajax请求回来的
      datatype: "json",
      url: "/course",
      //列明
      colNames: ["编号", "名称", "星期几", "允许年级", "剩余人数", "老师", "简介"],
      //列的模型
      colModel: [
        { name: 'cid', index: 'cid', width: 10, key: true, editable: true },
        //editable表示可以被编辑
        { name: 'name', index: 'name', width: 30, editable: true },
        //年级的那个列，编辑的时候显示下拉列表框
        { name: 'dayofweek', index: 'dayofweek', width: 20, editable: true, edittype: 'select', editoptions: { value: '周二:周二;周三:周三;周五:周五' } },
        { name: 'allow', index: 'allow', width: 30, editable: true },
        { name: 'number', index: 'number', width: 10, editable: true },
        { name: 'teacher', index: 'teacher', width: 10, editable: true },
        { name: 'briefintro', index: 'briefintro', width: 140, editable: true, edittype: 'textarea' },
      ],
      rowNum: 10,
      rowList: [10, 20, 30],
      sortname: 'cid',
      viewrecords: true,
      autowidth: true,
      pager: '#listnav',
      height: 300,
      multiselect: true,
      multiboxonly: true,
      // cellEdit:true,
      ondblClickRow: function (id, cellname, value, row, col) {
        if (id && id !== lastsel3) {
          $('#list').jqGrid('restoreRow', lastsel3)
          $('#list').jqGrid('editRow', id, true, allowChoose)
          lastsel3 = id
        }
      }
    });

    $('#keywordtxt').on('input', function (e) {
      // console.log($(this).val())
      var keyword = $(this).val()
      // 重新加载表格
      $('#list').jqGrid('clearGridData').jqGrid('setGridParam', {
        datatype: 'json',
        postData: { keyword: keyword },
        page: 1
      }).trigger('reloadGrid')
    })

    $('#delbtn').click(function () {
      $.ajax({
        type: 'delete',
        url: '/course',
        data: { arr: $('#list').jqGrid('getGridParam', 'selarrrow') },
        traditional: true,
        success: function (data) {
          alert(data.result)
          location = '/admin/course'
        }
      })
    })

    function allowChoose(id) {
      $('#' + id + '_allow').hide()
      $('#' + id + '_allow').after(
        '<label><input type="checkbox" value="初一"/>初一</label>' +
        '<label><input type="checkbox" value="初二"/>初二</label>' +
        '<label><input type="checkbox" value="初三"/>初三</label>' +
        '<label><input type="checkbox" value="高一"/>高一</label>' +
        '<label><input type="checkbox" value="高二"/>高二</label>' +
        '<label><input type="checkbox" value="高三"/>高三</label>'
      )

      var dataarr = $('#' + id + '_allow').val().split(',')
      $.each(dataarr, function (i, item) {
        $('input[value="' + item + '"]').attr('checked', true)
      })

      $('#' + id + '_allow').nextAll().change(function () {
        var jieguo = []
        //让选中的复选框的值进入数组
        $("#" + id + "_allow").nextAll().find(":checked").each(function () {
          jieguo.push($(this).val());
        });
        $('#' + id + '_allow').val(jieguo.join(','))
      })
    }
  </script>
</body>

</html>
